.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem 1rem 3rem;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85vw; /* Adjusted width to be responsive */
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1a1919;
    border: 1px solid #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1); /* Adjust the values as needed */
}

.box p {
    padding: 0.5rem;
    font-weight: 400;
    color: #ffa500;
}

.dataBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 250px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1rem;
    background-color: #151414;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1); /* Adjust the values as needed */
}

.gray {
    font-size: 0.75rem;
    color: gray;
}

.white {
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.balance {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 85vw; /* Adjusted width to be responsive */
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1a1919;
    border: 1px solid #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1); /* Adjust the values as needed */
}

.balances {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.balances div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: 50px;
    margin-top: 10px;
    background-color: #151414;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.balances div button {
    margin-left: 25px;
    background-color: transparent;
    color: #ffffff;
    border: none;
}

.balances div button:hover {
    color: rgb(194, 76, 76);
    cursor: pointer;
}

.searchDiv {
    margin-left: 20px;
}

.searchDiv input {
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    color: inherit;
    margin-top: 10px;
    outline: none;
}

.searchDiv button {
    color: inherit;
    border: none;
    width: 40px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.searchDiv button:hover {
    color: rgb(194, 76, 76);
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .dataBox {
        margin-right: 20px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .balance {
        width: 40vw;
    }
    .box {
        width: 70vw;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .balance {
        width: 30vw;
    }
    .box {
        width: 70vw;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

    .balance {
        width: 30vw;
    }
    .box {
        width: 60vw;
    }
}
